.info-page {
  padding: 20px;
}

.info-page h1 {
  color: #2a75c5; /* Color del título */
}

.info-page h2 {
  color: #6faae9; /* Color de los subtítulos */
  margin-top: 20px;
  margin-bottom: 10px;
}

.info-page h3 {
  color: #5e9ee2; /* Color de los títulos de las subsecciones */
  margin-top: 10px;
  margin-bottom: 10px;
}

.info-page p {
  font-size: 22px;
  line-height: 1.6;
  color: white;
}

.info-page .card {
  background-color: rgba(128, 128, 128, 0.8); /* Fondo gris con transparencia */
  border: none;
  border-radius: 8px;
}

.info-page .card-body {
  color: white;
}

.info-page .img-fluid {
  width: 100%;
  max-width: 300px; /* Ancho máximo para todas las imágenes */
  height: auto;
}

.info-page .nav-link{
  color: white;
}