/* Style_preguntas.css */

.graph-container {
    background-color: rgba(253, 250, 250, 0.8);  /* Fondo gris claro */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    max-width: 100%;
    overflow: hidden;
    position: relative;  /* Necesario para centrar el gráfico */
    display: flex;
    flex-direction: column;
    align-items: center;  /* Alinea el contenido al centro */
    color: white;
  }
  
  .graph-container h2 {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }
  
  .pie-chart-canvas {
    max-width: 100% !important;
    height: auto !important;
  }
  
  .dobleEG{
    background-color: rgba(253, 250, 250, 0.7);
  }